body{background-image:url(pict/moneyheist.jpg); background-repeat: no-repeat; background-position: center;background-size: cover;}
header{width: 100%;color: red;background-color: black;}
body{color: red;text-align: center;}